<template name="createClinic">
  <div class="box box-primary">
    <div class="box-header with-border">
      <h3 class="box-title">Добавление клиники</h3>
    </div>
    <form role="form">
      <div class="box-body">
        <div class="form-group">
          <label for="register-phone">Название</label>
          <input type="text" class="form-control" id="cc-name" placeholder="стоматологическая линика FreshBreath">
        </div>
        <div class="form-group">
          <label for="register-email">Адрес</label>
          <input type="text" class="form-control" id="cc-address" placeholder="ул. Уличная 666, Астана">
        </div>
        <div class="form-group">
          <label for="register-email">Веб-сайт</label>
          <input type="text" class="form-control" id="cc-website" placeholder="bla@bla.bla">
        </div>
        <div class="box-footer">
          <button id="cc-submit" type="submit" class="btn btn-primary">Создать</button>
        </div>
      </div>
    </form>
  </div>
  <div class="box-body">
    <table class="table table-bordered">
      <tbody><tr>
        <th style="width: 10px">№</th>
        <th>Имя</th>
        <th>Адрес</th>
        <th>Вебсайт</th>
      </tr>
      {{#each clinics}}
      <tr>
        <td>{{incIndex @index}}</td>
        <td>{{name}}</td>
        <td>{{address}}</td>
        <td>{{website}}</td>
      </tr>
      {{/each}}
    </tbody></table>
  </div>
</template>
