<template name="patientHistory">
  <div class="box box-primary">
    <div class="box-header with-border">
      <h3 class="box-title">{{patientName}}</h3>
    </div>
    {{#each appointments}}
    <div class="box-body {{#if isEven @index}}greyBackground{{/if}}">
      <strong><i class="fa fa-user-md margin-r-5"></i> Лечащий врач</strong>
      <p class="text-muted">
        {{getDoctorName doctorId}}
      </p>
      <hr>
      <strong><i class="fa fa-stethoscope margin-r-5"></i> Симптом(ы)</strong>
      <p>
        {{#each symptomId in symptoms}}
        <h4 class="label label-danger">{{getSymptomName symptomId}}</h4>
        {{/each}}
      </p>
      <hr>
      <strong><i class="fa fa-pencil margin-r-5"></i> Диагноз(ы)</strong>
      <p>
        {{#each diagnosisId in diagnoses}}
        <h4 class="label label-info">{{getDiagnosisName diagnosisId}}</h4>
        {{/each}}
      </p>
      <hr>
      <strong><i class="fa fa-pencil margin-r-5"></i> Лечение(я)</strong>
      <p>
        {{#each treatmentId in treatments}}
        <h4 class="label label-info">{{getTreatmentName treatmentId}}</h4>
        {{/each}}
      </p>
      <hr>
      <strong><i class="fa fa-pencil margin-r-5"></i> Длительность лечения</strong>
      <p>
        <h4 class="label label-info">{{getAppointmentDuration startTime endTime}}</h4>
      </p>
      <hr>
    </div>
    {{/each}}
  </div>
</template>
